.app {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  padding: 2rem 1rem;

  .app-head {
    padding: 1.5rem 0 3rem;

    h2 {
      font-size: 1.7rem;
      text-decoration: underline;

      @media screen and (max-width: 400px) {
        font-size: 1.4rem;
      }
    }

    @media screen and (max-width: 400px) {
      padding: 1rem 0;
    }
  }

  @media screen and (max-width: 400px) {
    padding: 1rem;
  }
}
